.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://i.imgur.com/0iugEid.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.jumboM3 {
  background-image:url('http://s1.cdn.autoevolution.com/images/news/gallery/eas-built-bmw-e46-m3-on-the-cover-of-european-car-magazine-photo-gallery_19.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.jumboM3 .container {
  position: relative;
  top:100px;
}

.jumboM3 h1 {
  color: #000;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumboM3 p {
  font-size: 20px;
  color: #000;
}

.jumboJeep {
  background-image:url('https://i.ytimg.com/vi/KjvHJc84m8U/maxresdefault.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.jumboJeep .container {
  position: relative;
  top:50px;
}

.jumboJeep h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumboJeep p {
  font-size: 20px;
  color: #fff;
}

.jumboCaddy {
  background-image:url('https://lh3.googleusercontent.com/Fmhwvei9aTwOaBUFojd6pbCEvIIeErAvy8PxpSHnzqsSrQ8Y3eJGnx5axsIGMtljAlz-WFPmgsuCMgV_fq8RF6BDpdxm2d684wnAeuyd6eHBr3PO6FvX_VKTeDRPWbFrQ4DiBgGAbPND60jiESacBjrGFAOIVXwizK7eHSxWSv2TUfEAAQ428n8iSoo7X_1BKBCEu7eQO5m-AeRXqUwW6s1SW5FqMYNFhDvQSZyi7H6xLPGS96UneywrUnlCngUEhpmTxDsa2eaS8VM4tP8Prjo8hPwKOHhWkyDJ1_csP1QySfBfVDFWalFyEgx1qwG6PVZsbkXukf9cgbo_BfvchG7q5OLgd9xD6sEmUZqmj9egBzMy9XAfsOZCyUm33WdRjUWYffRu5tYEY9LNyXy3bSOv1iiW5YY43pIHOKiFI4LTPaViJOBJAvxyTpCxX3gFjdIcqCVh4pC_GdQlrZdxDIvwRIKWITYX64l-eZyC19TU8--1LrZcCtjp_9eAKoOBfNPnZkg9EczDncTXOMQKYNlbOS0SaWQW8bjQq2SMKODTr1ojdBG8tSLFv_l0EjvJkIxbtPFj_X4bPm4JIbtBCcs9Kc0atfVb2F3eoWYfUjZ0W8V4_qBJUl8ofLdlL8D_8GfwMJVyygx_CHW-JbYRGwfF27IWRJEvtm-177Sm5Q5qMg6O-zIGWak=w1920-h716-no');
  height: 800px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.jumboCaddy .container {
  position: relative;
  top:100px;
}

.jumboCaddy h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumboCaddy p {
  font-size: 20px;
  color: #fff;
}

.jumboTravel {
  background-image:url('https://lh3.googleusercontent.com/xBOh1caYxVlDxrqonfNtQ332AqeHHz1haIejPrYd3LEezjQqpqQQEdHs4-r1pTiynl55f0ywK_7J1RYo5V2RfR6VEWEMrnDIzFnqY1oJGoFOnXELEWnvadeNWZQstp8KUxbD5yG649LNGZr1s8xuFIc6t_MG1hHICvojr9XNhLvwG1nPwwmNrKxgi__s_g3YhIMX79efG6Pw0rRBYb583GQgXpNhblqIOqPeqsaPgF-XJ86We3hDSwikqdgy-mn2Q231jmY40hbLCyRRQQlT76StT8TzMJRu2ntxwsTU2V8VkYS9Ea20JqCR6Bs3iZSSgu49GuvghlGXLsPfmhnPjKGL6Q3Uxfdc9rT7zJiuSHoCsN8WD4tbKMgoo7zP7AAvhITjZ5BBwdaaZ5I50f0DqxJsvmSGMebfG8fR-P8BYy8xT81SW3Nn3VjcC9kZ3K_n0GGOUiNaU82eAYYrwJV_KUzEeMStBI7wQp-kDNqTUpwGQpRr11DoZyyljM1-XFuMfmXwsGH7qHl0vBu-JitxvV2rmVGMpKI0Tv3wonLbykyAK-7ReEVM0imU6eo4-ORRNd4LlCLj8-YeZBQt59uHpAyBuuV6veu1m0Tq-iMBe-m0HT2J0vkHoEzWKT52r75D7nwP6_NJK3tjELidYfaRxF0TR3JPNwFX6AA8AtCjiHP9R6UBd1BOgbQ=w1250-h937-no');
  height: 650px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.jumboTravel .container {
  position: relative;
  top:100px;
}

.jumboTravel h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumboTravel p {
  font-size: 20px;
  color: #fff;
}

.jumboTech {
  background-image:url('https://lh3.googleusercontent.com/TuwDUHkswynD22VMG_iQNmwWIRx4ZBZvhyhr9yjVGvzJ3x7pr-giMvbNNytBMylvVresoLsQlq9r5GO5vSSVB4uhilj7y1dN8BhGKk_WVzrfIL0Tejt1BNhc0sP65pkMRF01bhX5cWq11_oOb79-KU008ZwcdAus0UFdj_QkeYZBMmu1hqN-HxDd8eD-wDsMGSXmvd6VUHmexLPq9RGdVQ0PungEo_n2a2K2YsIwPdDqhcAGuXwDHUI6VsvwVKKfcpA3D8cUVxBlzb1zfYXx_aUvnQIWu9oDCb2JllEKKlxntYVNb__pTzmaozgzFGUyPRUbDRHOA2eC0tl7BMZ_t3ESt4ZQTDomv7Pv8ejiadX0DiMCHIXRu26xedW8OtYmoUkapO9p9eFjaKvndoQrjVo0XxdJNaXUdUJ2G3aWbT0VUmhSSFshVJRImpesLLzIZmmSfNQrFFJ_TTpE8QqTUR0J1ko0HZ27_hBkyLJCm10gCf_biLYj1hhNmycNsggv3K8r_pow_2WzXSNUgNO-IxzwuM6EVT_PWg-OG7_lE0_WjCk_-K5PWsWP958RiU_xWyscbNkgFPBDmdJoqa6stLvCd_zajenEekGF73l51XQuyeA0KREewfjAzdukx0iy7xjHhOHu6mrxhjKSlozbr8N3p-S3x4HuvhMFIPftg92ikFMsTx5WV4E=w1406-h937-no');
  height: 550px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.jumboTech .container {
  position: relative;
  top:100px;
}

.jumboTech h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumboTech p {
  font-size: 20px;
  color: #fff;
}

.jumboCars {
  background-image:url('http://i.imgur.com/DXNIecE.jpg');
  height: 550px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.jumboCars .container {
  position: relative;
  top:100px;
}

.jumboCars h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  position: relative;
  top: 300px;
}

.jumboCars p {
  font-size: 20px;
  color: #fff;
  position: relative;
  top: 300px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.neighborhood-guides a {
  color: #00b0ff;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}
