.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('https://www.plugndrive.ca/sites/default/files/BMW%20i8%20Side.fw_.png');
  height: 600px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.jumboM3 {
  background-image:url('http://s1.cdn.autoevolution.com/images/news/gallery/eas-built-bmw-e46-m3-on-the-cover-of-european-car-magazine-photo-gallery_19.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.jumboM3 .container {
  position: relative;
  top:100px;
}

.jumboM3 h1 {
  color: #000;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumboM3 p {
  font-size: 20px;
  color: #000;
}

.jumboJeep {
  background-image:url('https://i.ytimg.com/vi/KjvHJc84m8U/maxresdefault.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.jumboJeep .container {
  position: relative;
  top:50px;
}

.jumboJeep h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumboJeep p {
  font-size: 20px;
  color: #fff;
}

.jumboCaddy {
  background-image:url('https://c2.staticflickr.com/6/5495/11583228294_ec0921c4e5_b.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.jumboCaddy .container {
  position: relative;
  top:100px;
}

.jumboCaddy h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumboCaddy p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}
